:root{
    --bj-main: #08c;
    --bj-accent: #ffc54d;
    --bj-magenta: #d32064;
    --bj-purple: #22020e;
    font-size: 18px;
    text-transform: capitalize;
}

html, main, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: aaux-next, sans-serif;
    color: white;
    background-color: black;
}

body{
    background-image: url(images/bg/mobile-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 10px;
}

p{
    text-transform: uppercase;
    margin: 0;
}

footer{
    display: none;
    width: fit-content;
    margin: 0 auto;
    color: var(--cpbj-teal);
}

footer > a{
    color: var(--cpbj-pink);
}

#playarea{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

#help{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 100;
    transition: background-color 0.5s,
        color 0.5s;
}

#help:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}

/* === SCORE ZONES === */

.score{
    text-align: center;
}

/* === CREDITS === */

.credits{
    margin: 10px;
    overflow: hidden;
}
.credits > p{
    display: inline;
}
#credits{
    float: right;
}
.winnings{
    float: right;
    margin-right: 10px;
    position: relative;
    color: #6f0;
    animation-duration: 2s;
    animation-name: winreveal;
}

/* === HANDS ===*/
.hand{
    margin: 10px;
    margin-top: 0;
    position: relative;
}

/*=== CARDS ===*/

.cards{
    width: 140px;
    height: 140px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}
.card{
    height: 100%;
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    box-shadow: -1px 0 black;
    position: absolute;
}
.dealt{
    animation-duration: 0.5s;
    animation-name: dealcard;
}
.expand{
    transition: width 250ms;
}
.card > div{
    width: fit-content;
}
.card > img{
    display: block;
    margin: 0 auto;
}
.rank{
    font-family: all-round-gothic, sans-serif;
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
}
.facedown{
    background-color: var(--bj-purple);
    border: 8px solid white;
}
.facedown > div, .facedown > img{
    display: none;
}

/*=== CONTROLS ===*/

button{
    width: 140px;
    height: 48px;
    margin: 10px;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: var(--bj-main);
    font-family: aaux-next, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.125s;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: var(--bj-accent);
}
button:disabled{
    opacity: 0;
}
#controls{
    width: 100%;
    max-width: 320px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}
#buttonA{
    order: 1;
}
#buttonB{
    order: 3;
}
#buttonC{
    order: 2;
}
#buttonD{
    order: 4;
}
/*=== RESULTS ===*/

.result{
    font-family: all-round-gothic, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    box-sizing: border-box;
    border: 2px solid;
    box-shadow: 0 0 0 1px var(--bj-purple);
    position: absolute;
    top: 120px;
    background-color: var(--bj-purple);
    animation-duration: 1s;
    animation-name: textreveal;
}

.bj{
    color: var(--bj-accent);
}
.w{
    color: var(--bj-magenta);
}
.l{
    color: var(--bj-main);
}
.hidden{
    display:none;
}

@media screen and (min-width: 480px) {
    body{
        background-image: url(images/bg/desktop-background.jpg);
        padding-top: 2.5%;
    }
}

@media screen and (min-width: 640px){
    #controls{
        max-width: 640px;
    }
    #buttonB{
        order: 2;
    }
    #buttonC{
        order: 3;
    }
    body{
        padding-top: 5%;
    }
    #help{
        top: 10px;
    }
}

/*=== ANIMATIONS ===*/

@keyframes textreveal{
    from{
        top:144px;
        opacity: 0;
    }
    to{
        top:120px;
        opacity: 1;
    }
}

@keyframes dealcard{
    from{
        top: -100%;
    }
    to{
        top: 0;
    }
}

@keyframes winreveal{
    from{
        top: 50px;
        opacity: 0;
    }
    25%{
        top: 0;
        opacity: 1;
    }
    75%{
        top: 0;
        opacity: 1;
    }
    to{
        top: -50px;
        opacity: 0;
    }
}