:root{
    --bj-main: #08c;
    --bj-accent: #ffc54d;
    --bj-magenta: #d32064;
    --bj-purple: #22020e;
    font-size: 18px;
    text-transform: capitalize;
}

html, main, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: aaux-next, sans-serif;
    color: white;
    background-color: black;
}

p{
    margin: 0;
}

footer{
    width: fit-content;
    margin: 0 auto;
    color: var(--cpbj-teal);
}

footer > a{
    color: var(--cpbj-pink);
}

#playarea{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    height: 560px;
}

#help{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid white;
    background: transparent;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    transition: background-color 0.5s,
        color 0.5s;
}

#help:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}

/* === SCORE ZONES === */

.score{
    display: flex;
    flex-wrap: wrap;
}
.score > p{
    width: 50%;
}
.hscore{
    text-align: left;
}
#bet{
    order: 1;

    text-align: right;
}
#dscore{
    width:100%;
}
#pscore{
    order: 2;
}
#credits{
    order: 3;
    text-align: right;
}

/* === HANDS ===*/
.hand{
    height: 37%;
    margin: 10px;
}

/*=== CARDS ===*/

.cards{
    width: 140px;
    height: 140px;
    margin: 10px auto;
    position: relative;
}

.card{
    height: 140px;
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    position: absolute;
}
.card > div{
    width: fit-content;
}
.card > img{
    display: block;
    margin: 0 auto;
}
.face{
    font-family: all-round-gothic, sans-serif;
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
}
.facedown{
    background-color: var(--bj-purple);
    border: 8px solid white;
}

/*=== CONTROLS ===*/

button{
    width: 140px;
    height: 48px;
    margin: 10px;
    border: 1px solid white;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: var(--bj-main);
    font-family: aaux-next, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background-color 0.125s;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: var(--bj-accent);
}
button:disabled{
    display: none;
}
#controls{
    display: flex;
    flex-wrap: wrap;
}
/*=== OUTCOME ===*/

.outcome{
    padding: 8px;
    margin: 0;
    background-color: black;
    font-family: all-round-gothic, sans-serif;
    font-size: 24px;
    text-align: center;
    position: absolute;
    bottom: 16px;
}

.hidden{
    display:none;
}